{% extends "main_base.html" %}
{% load i18n %}
{% block main_content %}
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {% include 'top_bar.html' %}
      {% include 'side_bar.html' %}
</div>
<div style="margin-left: 25%;">
  <center><br><br>
      <h3 >Atas Cadastradas</h3>
      <table id="atas" class="table table-bordered table-hover">
          <thead>
              <tr>
                <th>Título</th>
                <th>Autor</th>
                <th>Data</th>
                <th>Ação</th>
              </tr>
          </thead>
          <tbody>
            {% for ata in notebooks %}
            <form action="/convert_ata/" method="POST">
             {% csrf_token %}
              <tr>
                <td>{{ ata.title }}</td>
                <input type="hidden" name="title" value="{{ ata.title }}">
                <td>{{ ata.user }}</td>
                <input type="hidden" name="user" value="{{ ata.user }}">
                <td>{{ ata.date }}</td>
                <input type="hidden" name="date" value="{{ ata.date }}">
                <input type="hidden" name="content" value="{{ ata.content }}">
                <td>
                  <input type="submit" name="converter" value="Converter para PDF">
                </td>
              </tr>
            </form>
            {% endfor %}
          </tbody>
      </table>
  </center>
</div>
{% endblock main_content %}