<html lang="pt_Br">
  <head>

    <meta charset="utf-8">

    <title>Ata Online</title>


    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <meta name="mobile-web-app-capable" content="yes">

    {% load static from staticfiles %}

    <link rel="icon" href="{% static 'images/ata_logo.png' %}">

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/material.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css'%}">
    {% block header %}{% endblock header %}
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {% include 'top_bar.html' %}
      {% include 'side_bar.html' %}
    </div>
    <script src="{% static 'js/material.min.js'%}"></script>
  </body>
</html>
